@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<div id="content">
    <div>
        <div id="grid" data-role="grid" data-bind="source: ordersSource, events: { change: change }"
             data-selectable="True" data-columns='["OrderID", "ShipName", "ShipCity.name"]' />
    </div>



    <div style="margin: 10px" >
        <h2>Edit client</h2>
        <label>Order id</label>
        <input type="text" readonly="true" data-bind="value: selectedRow.OrderID" />
        <br />
        <label>Ship Name</label>
        <input type="text" data-bind="value: selectedRow.ShipName" />
        <br />
        <label>Ship City</label>
        <input type="text" data-bind="value: selectedRow.ShipCity.name" />        
    </div>

    <div>
        <div id="grid2" data-role="grid" data-bind="source: selectedRow.ShipCity.collections, events: { change: change2 }"
             data-selectable="True" data-columns='["collection_name", "refDataURL"]' />
    </div>

    <div style="margin: 10px" >
        <h2>Edit client 2</h2>

        <label>collection_name</label>
        <input type="text" data-bind="value: selectedRow2.collection_name" />
        <label>refDataURL</label>
        <input type="text" data-bind="value: selectedRow2.refDataURL" />
    

    </div>
</div>

@section scripts{
    <script type="text/javascript">



        var ordersDatasource = new kendo.data.DataSource({
            data: [
    {
        OrderID: 1, ShipName: "Ship A o", ShipCity: {
            name: "HealthRoster",
            collections: [
                {
                    "collection_name": "trusts",
                    "refDataURL": ""
                },
                {
                    "collection_name": "wards",
                    "refDataURL": ""
                },
                {
                    "collection_name": "grades",
                    "refDataURL": ""
                }
            ]
        }
    },
    {
        OrderID: 2, ShipName: "Ship A oo ", ShipCity: {
            "name": "RealTime",
            "collections": [
                {
                    "collection_name": "rtassignments",
                    "refDataURL": ""
                }
            ]
        }
    }

            ],
            schema: {
                model: {
                    id: "OrderID",
                    fields: {
                        OrderID: { type: "number" },
                        ShipName: { type: "string" },
                        ShipCity: {
                            defaultValue: {
                                name: "HealthRoster",
                                collections: [
                                    {
                                        "collection_name": "trusts",
                                        "refDataURL": ""
                                    },
                                    {
                                        "collection_name": "wards",
                                        "refDataURL": ""
                                    },
                                    {
                                        "collection_name": "grades",
                                        "refDataURL": ""
                                    }
                                ]
                            }
                        }
                    }
                }
            },
            pageSize: 5,
        });

        var viewModel = kendo.observable({
            ordersSource: ordersDatasource,
            selectedRow: null,
            selectedRow2: null,

            change: function (eventArgs) {
                this.set("selectedRow", eventArgs.sender.dataItem(eventArgs.sender.select()));
                this.set("selectedRow2", null);
            },

            change2: function (eventArgs) {
                this.set("selectedRow2", eventArgs.sender.dataItem(eventArgs.sender.select()));
            },

            allData: function () {
                return ordersSource.data;
            }
        });

        kendo.bind($('#content'), viewModel);

        </script>
        }